<div class="col-md-6">
  <h2 class="mt-1 mb-4">Редактирование профиля</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group my-3">
      <%= f.label :name, class: 'h6' %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group my-3">
      <%= f.label :email, class: 'h6' %>
      <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group my-3">
      <%= f.label :password, class: 'h6' %>
      <% if @minimum_password_length %>
        <em class="text-secondary">(<%= @minimum_password_length %> символа минимум)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password",
        placeholder: 'это поле можно оставить пустым :)', class: 'form-control' %>
    </div>

    <div class="form-group my-3">
      <%= f.label :password_confirmation, class: 'h6' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
        placeholder: 'то же, что и с паролем :)', class: 'form-control' %>
    </div>

    <div class="form-group my-3">
      <%= f.label :current_password, class: 'h6' %>
      <%= f.password_field :current_password, autocomplete: "current-password",
        placeholder: 'любые изменения необходимо подтвердить', class: 'form-control' %>
    </div>

    <div class="actions mt-4 d-flex justify-content-between align-items-baseline">
      <%= f.submit "Обновить!", class: 'btn btn-primary' %>
      <%= link_to 'Вернуться', :back, class: 'btn btn-outline-dark btn-sm'%>
    </div>
  <% end %>

  <div class="my-4 py-3 alert alert-danger border border-danger text-center shadow-lg">
    <p class="lead">Удалённый аккаунт невозможно восстановить!</p>

      <%= button_to "Удалить аккаунт", registration_path(resource_name), class: 'btn btn-lg btn-outline-danger',
        data: { confirm: t('confirm') }, method: :delete %>
  </div>
</div>
