<%= form_for @user, html: {multipart: true} do |field| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group my-3">
    <%= field.label :name, class: 'h6' %>
    <%= field.text_field :name, class: 'form-control', placeholder: t('placeholder.name') %>
  </div>

  <div class="form-group my-3">
    <%= field.label :email, class: 'h6' %>
    <%= field.text_field :email, class: 'form-control', placeholder: t('placeholder.email') %>
  </div>

  <div class="actions d-flex justify-content-between align-items-baseline">
    <%= field.submit 'Сохранить', class: 'btn btn-success' %>
    <%= link_to 'Больше настроек', edit_user_registration_path, class: 'btn btn-sm btn-outline-info' %>
    <%= link_to 'Вернуться', :back, class: 'btn btn-outline-dark btn-sm'%>
  </div>
<% end %>
