<%= form_for(@event) do |field| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form-group my-3">
    <%= field.label :title, class: 'h6' %>
    <%= field.text_field :title, class: 'form-control',
      placeholder: t('placeholder.title') %>
  </div>

  <div class="form-group my-3">
    <%= field.label :address, class: 'h6' %>
    <%= field.text_field :address, class: 'form-control',
      placeholder: t('placeholder.address') %>
  </div>

  <div class="form-group my-3">
    <%= field.label :datetime, class: 'h6' %>
    <p><%= field.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="form-group my-3">
    <%= field.label :description, class: 'h6' %>
    <%= field.text_area :description, class: 'form-control',
      placeholder: t('placeholder.event') %>
  </div>

  <div class="actions d-flex justify-content-between align-items-baseline">
    <%= field.submit 'Сохранить', class: 'btn btn-success' %>
    <%= link_to 'Вернуться', :back, class: 'btn btn-outline-dark btn-sm'%>
  </div>
<% end %>
