<h1>Доступ только по пин-коду</h1>

<div class="row">
  <div class="col-md-6 buffer-both">

    <%= form_tag('', method: 'post') do |form| %>
      <div class="form-group">
        <%= label 'Пин-код', t('activerecord.attributes.event.pincode') %>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
      </div>

      <div class="actions">
        <%= submit_tag t('buttons.post'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="buffer-top">
      <%= link_to 'Вернуться на главную', events_path %>
    </div>


  </div>
</div>

