<div class="event container">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{asset_pack_path('media/images/event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6 mt-2">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h5><%= @event.datetime %></h5>
            <h4><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h4>
            <p><%= @event.description %></p>
          </div>

          <div class="mt-2 mb-3">
            <%= link_to 'Изменить', edit_event_path(@event),
              class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
