<div class="event">

  <div class="row event-info">
    <div class="col-md-12">
      <%= content_tag 'div', '',
                       class: 'event-background',
                       style: "background-image: url(#{asset_path('event.jpg')})"
      %>

      <div class="row event-info-inner">
        <div class="col-md-6">
          <h1><%= @event.title %></h1>
          <h3><%= l @event.datetime, format: :short %></h3>

          <h3>
            <small><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}", target: "_blank" %></small>
          </h3>

          <p><%= @event.description %></p>

          <% if current_user_can_edit?(@event) %>
            <div class="row">
              <div class="buffer-both col-sm-3">
                <%= link_to 'Изменить', edit_event_path(@event), class: 'btn btn-primary' %>
              </div>

              <div class="buffer-both col-sm-3">
                <%= link_to 'Удалить', event_path(@event),
                 method: :delete, data: {confirm: t('confirm.delete')},
                 class: 'btn btn-danger'
                %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="event-comments buffer-top">
        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments %>
        </div>
      </div>
    </div>
  </div>

</div>
