<div class="row">
  <div class="col-md-6">
    <h2 class="mt-1 mb-4">Войти</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group my-3">
        <%= f.label :email, class: 'h6' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group my-3">
        <%= f.label :password, class: 'h6' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="input-group input-group-sm my-3 d-flex align-items-center">
          <div class="input-group-text">
            <%= f.check_box :remember_me, checked: true %>
          </div>

          <%= f.label :remember_me, 'Запомни меня!', class: 'text-body ml-3' %>
        </div>
      <% end %>

      <div class="actions mt-4 d-flex justify-content-between align-items-baseline">
        <%= f.submit "Войти!", class: 'btn btn-primary' %>
        <%= link_to 'Вернуться', :back, class: 'btn btn-outline-dark btn-sm'%>
      </div>
    <% end %>
  </div>

  <div class="align-self-center card d-sm-none d-md-block mx-auto shadow-lg">
    <ui class="list-group list-group-flush">
      <li class="list-group-item text-center shadow">
        <p class="lead">Впервые у нас?</p>
        <%= link_to 'Зарегайся!', new_user_registration_path, class: 'btn btn-outline-info stretched-link'%>
      </li>

      <li class="list-group-item text-center shadow">
        <p class="lead">Забыл пароль?</p>
        <%= link_to 'Восстанови!', new_password_path(resource_name), class: 'btn btn-outline-info stretched-link'%>
      </li>
    </ui>
  </div>
</div>
